.IssueList-item {
    color: rgba(var(--rgb-primary), 0.5);
}

.IssueList-title {
    color: rgba(var(--rgb-primary), 0.8);
}

.IssueList-item--clickable {
    &.is-selected, &:hover {
        background: var(--col-bgSecondary);
    }
}
