@import "./theme-purple.css";
@import "./util.css";

* {
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-family: system-ui, sans-serif;
    font-size: 13pt;
    color: rgba(var(--rgb-primary), 0.7);
}

body {
    line-height: 150%;
    background: var(--col-bgPrimary);
}

hr {
    background: rgba(var(--rgb-primary), 0.1);
    border: none;
    height: 1px;
    width: 100%;
}

a {
    color: var(--col-accent);
    text-decoration: none;

    &:hover, &:active {
        text-decoration: underline;
    }
}

pre {
    white-space: pre-wrap;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    color: rgba(var(--rgb-primary), 0.9);
    line-height: 2.5rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 0.16rem;
    font-weight: bold;
    color: rgba(var(--rgb-primary), 0.8);
}

h3 {
    /* font-size: 0.8rem; */
    color: rgba(var(--rgb-primary), 0.5);
    font-weight: bold;
}

h4 {
    /* font-size: 0.8rem; */
}

input[type='email'], input[type='password'], input[type='text'], textarea {
    background: rgba(var(--rgb-maxContrast), 0.5);
    border: 2px solid rgba(var(--rgb-bgAccentHighContrast), 0.08);
    padding: var(--spc-xsmall);
    margin: var(--spc-xsmall) 0;
    border-radius: var(--rad-small);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02);
}

textarea {
    min-width: 300px;
    height: 100px;
}

.Button {
    background: var(--col-maxContrast);
    margin: 0 var(--spc-xsmall);
    border-radius: var(--rad-max);
    cursor: pointer;
    border: 2px solid rgba(var(--rgb-bgAccentHighContrast), 0.2);
    color: var(--rgb-accent);
    box-shadow: 0 2px 2px rgba(var(--rgb-bgAccentHighContrast), 0.1);
    padding: 0 var(--spc-med);
    height: 1.8rem;

    &.circle {
        padding: 0;
        width: 1.8rem;
        border-radius: 300px;
    }

    &:hover {
        border-color: rgba(var(--rgb-bgAccentHighContrast), 0.4);
    }
}

.Button--primary {
    background: linear-gradient(to left, var(--col-accent), var(--col-altAccent));
    border: none;
    color: var(--col-maxContrast);
    box-shadow: 0 3px 4px rgba(var(--rgb-accent), 0.3);

    &:hover {
        background: rgba(var(--rgb-accent), 0.9);
        border: none;
    }
}

.Button--danger {
    color: var(--col-miscRed);
    border-color: var(--col-miscRed);
    box-shadow: 0 2px 2px rgba(var(--rgb-miscRed), 0.3);

    &:hover {
        background: var(--col-miscRed);
        border-color: var(--col-miscRed);
        color: var(--col-maxContrast);
    }
}

.Button--edit {
    color: var(--col-miscBlue);
    border-color: var(--col-miscBlue);
    box-shadow: 0 2px 2px rgba(var(--rgb-miscBlue), 0.3);

    &:hover {
        background: var(--col-miscBlue);
        border-color: var(--col-miscBlue);
        color: var(--col-maxContrast);
    }
}

.Button--save {
    color: var(--col-miscGreen);
    border-color: var(--col-miscGreen);
    box-shadow: 0 2px 2px rgba(var(--rgb-miscGreen), 0.3);

    &:hover {
        background: var(--col-miscGreen);
        border-color: var(--col-miscGreen);
        color: var(--col-maxContrast);
    }
}

.Button--close {
    color: var(--col-accent);
    border-color: var(--col-accent);
    box-shadow: 0 2px 2px rgba(var(--rgb-accent), 0.3);

    &:hover {
        background: var(--col-accent);
        border-color: var(--col-accent);
        color: var(--col-maxContrast);
    }
}

.SmallButton {
    cursor: pointer;
    background: transparent;
    border: none;
    color: rgba(var(--rgb-primary), 0.4);

    &:hover {
        color: rgba(var(--rgb-primary), 0.8);
    }
}

.SmallButton--danger {
    color: var(--col-miscRed);
}

.SmallButton--edit {
    color: var(--col-miscBlue);
}

.SmallButton--save {
    color: var(--col-miscGreen);
}

.SmallButton--close {
    color: var(--col-accent);
}

.App {
    width: 100%;
    height: 100%;
}
