:root {
    /* spacing - for padding, margins, etc */
    --spc-xsmall: 5px;
    --spc-small: 10px;
    --spc-med: 20px;
    --spc-large: 30px;
    --spc-xlarge: 40px;

    /* for radii */
    --rad-small: 7px;
    --rad-max: 100px;
}

/*
    Colors

    Accent color info page http://www.color-hex.com/color/2d5791

    Accent color 1 https://www.colorhexa.com/817fff
    Accent color 2 https://www.colorhexa.com/6987FF

    CH in comments refers to the colorhexa page linked above.

    '--col-' properties are the colors themselves, ready to use;
    '--rgb-' properties are the individual channels of a color, so users of
        the color can apply an alpha channel themselves. Eg:
        color: rgba(var(--rgb-primary), 0.2);
*/

/* Content Colors - for text, icons, accents, borders, etc */
$maxContrast: 255, 255, 255;
$minContrast: 0, 0, 0;
$primary: 1, 0, 68;
$primaryHighContrast: 206,205,255;
$accent: 129, 127, 255;
$altAccent: 105, 135, 255;
$bgPrimary: 250, 253, 255;
$bgSecondary: 246, 248, 250;
$bgTertiary: 243, 245, 248;
/* Background Colors */
$bgAccentHighContrast: 22, 43, 71;
$bgAccentLowContrast: 234, 238, 244;

$miscBlue: 85, 204, 255;
$miscRed: 238, 68, 68;
$miscGreen:	102, 187, 102;

:root {
    --rgb-primary: $primary;
    --col-primary: rgb(var(--rgb-primary));

    --rgb-maxContrast: $maxContrast;
    --col-maxContrast: rgb(var(--rgb-maxContrast));

    --rgb-minContrast: $minContrast;
    --col-minContrast: rgb(var(--rgb-minContrast));

    --rgb-primaryHighContrast: $primaryHighContrast;
    --col-primaryHighContrast: rgb(var(--rgb-primaryHighContrast));

    --rgb-accent: $accent;
    --col-accent: rgb(var(--rgb-accent));

    --rgb-altAccent: $altAccent;
    --col-altAccent: rgb(var(--rgb-altAccent));

    --rgb-miscBlue: $miscBlue;
    --col-miscBlue: rgb(var(--rgb-miscBlue));

    --rgb-miscRed: $miscRed;
    --col-miscRed: rgb(var(--rgb-miscRed));

    --rgb-miscGreen: $miscGreen;
    --col-miscGreen: rgb(var(--rgb-miscGreen));


    --rgb-bgPrimary: $bgPrimary;
    --col-bgPrimary: rgb(var(--rgb-bgPrimary));

    --rgb-bgSecondary: $bgSecondary;
    --col-bgSecondary: rgb(var(--rgb-bgSecondary));

    --rgb-bgTertiary: $bgTertiary;
    --col-bgTertiary: rgb(var(--rgb-bgTertiary));

    --rgb-bgAccentHighContrast: $bgAccentHighContrast;
    --col-bgAccentHighContrast: rgb(var(--rgb-bgAccentHighContrast));

    --rgb-bgAccentLowContrast: $bgAccentLowContrast;
    --col-bgAccentLowContrast: rgb(var(--rgb-bgAccentLowContrast));

    --col-mono1: 255, 255, 255;
    --col-mono2: 240, 240, 240;
    --col-mono3: 221, 221, 221;
}
